{% extends 'base.html.twig' %}

{% block title %} Episode {% endblock %}

{% block body %}

    <div class="media">

        <div class="media-body">

            <h1>{{ program.title }}</h1>
            <h2>{{ season.description }}</h2>
            <h3>{{ episode.number }} - {{ episode.title }}</h3>
            <h4>{{ episode.summary }}</h4>


        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}